html,body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
  padding: 0px;
  margin: 0px;
}

p{
  font-weight: bold;
  font-size: 30px;
}
h1 {
    font-weight:bold;
    font-size: 30px;
    padding:0px;
    margin: 0px;
}

.outer{
  display: flex;
  align-items: stretch;

  
  height: 100%;
  max-height: 100%;
}

.right-side, .left-side{
  /* text-align: center;
  border: solid black; */
  /* border-width: 3px; */
  margin: 0px;
  /* padding-bottom: 4%; */
  align-content: center;
}

.left-side{
  width: 40%;
  height: 100%;
  background-image: url("pictures/leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  position:absolute;
  top:30%;
  background-color: black;
  opacity: 60%;
  height: 20%;
  width: inherit;
  font-size: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo *{
  padding: 16px;
}

.logo img{
  height: 90%;
}

.tag{
  position:absolute;
  bottom: 5%;
  color: white;
  width: inherit;
  display: flex;
  justify-content: center;
}


.right-side{
  background-color: rgb(248, 248, 248);
  /* padding-top: 10%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  
  
  text-align: left;
  width: 60%;
  max-width: 100%;
}

.right-side> *{
  /* border: solid red; */
  padding-left: 40px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%%;
}

.form-outside{
  background-color: white;
  width:auto;
  box-shadow: 0 4px 2px -2px rgb(207, 207, 207);
  padding-top: 40px;
  padding-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;

  padding-top: 5px;
    /* max-width: 30%; */
}

.row{
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.row .input-fields{
  margin-right: 36px;
}


.input-fields {
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-left: 0px;
  font-size: 20px;
  font-variant-caps: all-small-caps;
  color: rgb(107, 107, 107);
}

input{
  padding: 5px;
  padding-left: 5px;
  font-size: 12px;
  font-weight: lighter;
}

input:focus{
  background-color: rgb(173, 216, 230, .1);
  }

.cta-button{
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  width: fit-content;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: darkolivegreen;
  color: rgb(248, 248, 248);
  border-radius: 8px;
  border: 1px solid grey;
  
  
}

.cta-button:hover {
  background-color:#318111;
}

.cta-button:active {
  border-color: grey;
}

.cta{
  padding-top: 40px;
  padding-bottom: 40px;
}

a:link{
  font-weight: bold;
  color: green;
  text-decoration: none;
}

a:hover{
  font-weight: normal;
}

a:visited{
  color: blue;
}

a:active{

}
  
